<% @title = "Search results for LEARN: #{params[:learn]} TEACH: #{params[:teach]}" %>
	<div class="normalsearch">
		<div class="wrapper">
			<form action="" method="get"/>
      
      <div id="mainParams">
        <div class="element">
          <div>I want to learn</div>
          <div><input type="text" class="text" name="learn" value="<%=h params[:learn] %>"/></div>
        </div>
        <div class="element">
          <div class="green">I can teach</div>
          <div><input type="text" class="text" name="teach" value="<%=h params[:teach] %>"/></div>
        </div>
        <div class="element">
          <div class="submit"><input type="submit" class="submit" value="New teachmate search"/></div>
        </div>
      </div>

      <p class="locationCaption">Search in: <span>
      <%=h location_string([params[:city], params[:region], params[:country]]) || "set location" %>
      </span></p> 

      <div id="locationParams">
        <div class="element">
          <div>City</div>
          <div><input type="text" class="text" name="city" value="<%= params[:city] %>"/></div>
          <div class="gray1">In your native language</div>
        </div>
        <div class="element">
          <div>Region or State</div>
          <div><input type="text" class="text" name="region" value="<%= params[:region] %>"/></div>
        </div>
        <div class="element">
          <div>Country</div>
          <div><input type="text" class="text" name="country" value="<%= params[:country] %>"/></div>
          <div class="gray1">In English</div>
        </div>
      </div>

      </form>


			<div style="clear: both;"></div>
			
		</div>
	</div>


    <% if !@search.errors.empty? %>

      <div class="aligned">
        <h2 class="warning">An error occured while processing your search request</h2>
        <p>
        <% if @search.errors.on(:learn) %>
          You can't submit more than 3 tags in "I want to learn" field
        <% elsif @search.errors.on(:teach) %>
          You can't submit more than 100 tags in "I can teach" field
        <% elsif @search.errors.on(:base) %>
          <%= @search.errors.on(:base) %>
        <% end %>
      </div>

    <% elsif @cached.nil? and @users.blank? %>
      <div class="aligned">
        <h2 class="warning">No one was found on your request</h2>

        <% unless @query_params[:learn].blank? and @query_params[:teach].blank? %>
          <p>You might want to subscribe to this search request,
          so that you could track users that fit your request.</p>  
          <%= render(:partial => 'subscriptions/subscribe_form')  %>
        <% end %>
      </div>
    <% else %>

      <% cache(@query_params) do %>

        <div id="sr-header">

          <% unless @query_params[:learn].blank? and @query_params[:teach].blank? %>
            <h2>Search results</h2>
            <%= render(:partial => 'subscriptions/subscribe_form') %>
          <% else %>
            <h2>New faces</h2>
          <% end %>
          <div style="clear: both;"></div>

        </div>

        <div id="sr-body">
        <% i = "" 
           @users.each do |user| 
           if i == "item2":	i = "item"
           else i = "item2"
           end
          %>
          
          <div class="<%= i %>">
            <table><tr>
              <td class="avatar"><%= show_avatar(user) %></td>
              <td class="content">
                <big><%= link_to("#{full_name(user)}", user) %></big><br/>
                <% skip_blank(show_tags(user, :teach)) { |tags| %> <span class="gray1">can teach:</span> <%= tags %><br/> <% } %>
                <% skip_blank(show_tags(user, :learn)) { |tags| %> <span class="gray1">wants to learn:</span> <%= tags %><br/> <% } %>
                <% skip_blank(location(user)) { |location| %> <%= location  %><br/><% } %>
                <% skip_blank(user.notes) { |notes| %> <span class="green">Notes:</span> <%= notes %> <% } %>
              </td>
            </tr></table>
          </div>

        <% end %>

        </div>
        <div id="sr-pager">
          <%= will_paginate(@search.users) %>
        </div>
      
      <% end %>	

    <% end %>

	





