<% @title = "Search results for LEARN: #{params[:learn]} TEACH: #{params[:teach]}" %>
	<div class="normalsearch">
		<div class="wrapper">
			<form action="" method="get"/>
			<div class="element">
				<div>I want to learn</div>
				<div><input type="text" class="text" name="learn" value="<%= params[:learn] %>"/></div>
			</div>
			<div class="element">
				<div class="green">I can teach</div>
				<div><input type="text" class="text" name="teach" value="<%= params[:teach] %>"/></div>
			</div>
			<div class="element">
				<div class="submit"><input type="submit" class="submit" value="New teachmate search"/></div>
			</div>
      </form>


			<div style="clear: both;"></div>
			
		</div>
	</div>


  <% if @users.empty? %>
    <div class="aligned">
      <h2 class="warning">No one was found on your request</h2>
      <p>You might want to subscribe to this search request,
      so that you could track users that git your request. Use the button below:</p>  

      <%= render(:partial => 'subscriptions/subscribe_form') %>
    </div>
  <% else %>

    <div id="sr-header">

      <h2>Search results</h2>
      <%= render(:partial => 'subscriptions/subscribe_form') %>
      <div style="clear: both;"></div>

    </div>

    <div id="sr-body">
    <% i = "" 
       @users.each do |user| 
       if i == "item2":	i = "item"
       else i = "item2"
       end
      %>
      
      <div class="<%= i %>">
        <table><tr>
          <td class="avatar"><%= show_avatar(user) %></td>
          <td class="content">
            <big><%= link_to("#{full_name(user)}", user) %></big><br/>
            <span class="gray1">can teach:</span> <%= show_tags(user, :teach) %><br/>
            <span class="gray1">wants to learn:</span> <%= show_tags(user, :learn) %><br/>
            <%= location(user) %><br/>
            <span class="gray1">Rating:</span> <span class="rating-positive">+256</span>
          </td>
        </tr></table>
      </div>

    <% end %>

    </div>
    <div id="sr-pager">
      <%= will_paginate(@search.users) %>
    </div>

	<% end %>	





