		<div id="profile">
		  <h1 class="aligned"><%= title %></h1>
      <table>

        <tr><td colspan="2">

          Please note, that:
          <ul>
            <li>No HTML allowed in any field.</li>
            <% unless current_logged_in %>
            <li>No field is required, except captcha.</li>
            <li>No need to create and remember any password now, you can do it later at any time.</li>
            <% end %>
            <li><strong>Your profile will be disabled for public</strong> view, unless you fill <span class="green">I can teach</span> or <span class="green">I want to learn</span> field.</li>
          </ul>

        <%= form_error %>
        </td></tr>

				<tr><td class="desc"><h3>General info</h3></td>
				<td></td>
				</tr>

				<tr>
					<td class="desc">Upload your avatar:</td>
					<td class="right">
						<% edit_only { %><p><%= show_avatar(@user) %></p> <% } %>

						<% edit_only do %>
            <p><input type="checkbox" name="user[delete_avatar]" id="user[delete_avatar]" value="1"/><label for="user[delete_avatar]">Delete avatar</label></p>
            <% end %>

						<%= file_field :user, :avatar %>
            <small>Picture up to 2 Mb is okay. Note it will be scaled to 50x50px if larger.</small>
					</td>
				</tr>

				<tr>
					<td class="desc">First Name or nickname:</td>
					<td class="right">
            <%= f.text_field :first_name, {:class => "text"} %>
            <%= caption(:first_name, '') %>
					</td>
				</tr>

				<tr>
					<td class="desc">Last name:</td>
					<td class="right">
						<%= f.text_field :last_name, {:class => "text"} %>
            <%= caption(:last_name, '') %>
					</td>
				</tr>

				<tr>
					<td class="desc">E-mail:</td>
					<td class="right">
						<%= f.text_field :email, {:class => "text"} %>
						<%= caption(:email, "Won't be exposed to anyone. We'll use it to send there messages from other users (when someone wants to become your teachmate), to restore your password if you forget it, or to send you updates on your search results if you subscribe to any. Submitting it blank leaves you without these options, but it's still acceptable.") %>
					</td>
				</tr>

			</table>

			<table>

				<tr>
					<td class="desc"><strong class="green">I can teach:</strong></td>
					<td class="right">
						<%= text_area(:user, :teach_tags_string) %>
            <%= caption(:teach_tags_string, '<span class="gray2">Example:</span> 
						ruby on rails, snowboarding, bass guitar, music, mathematics, cooking apple pie') %>
					</td>
				</tr>

				<tr>
					<td class="desc"><strong class="black">I want to learn:</strong></td>
					<td class="right">
						<%= text_area(:user, :learn_tags_string) %>
            <%= caption(:learn_tags_string, 'Just the same as above - one or more words, separated by commas.') %>
					</td>
				</tr>

			</table>

			<table>

				<tr><td class="desc"><h3>Location</h3></td>
				<td></td>
				</tr>

				<tr>
					<td class="desc">City:</td>
					<td class="right">
            <%= f.text_field :city, {:class => "text"} %>
            <%= caption(:city, 'By convention, we suggest to input your city name in your native language. No comma symbols (,) allowed.') %>
					</td>
				</tr>

				<tr>
					<td class="desc">State or region:</td>
					<td class="right">
						<%= f.text_field :region, {:class => "text"} %>
            <%= caption(:region, 'Just like the city field, use your native language here. No comma symbols (,) allowed.') %>
					</td>
				</tr>

				<tr>
					<td class="desc">Country:</td>
					<td class="right">
						<%= f.text_field :country, {:class => "text"} %>
            <%= caption(:country, 'But we suggest to input country name in English. No comma symbols (,) allowed.') %>
					</td>
				</tr>
			
			</table>

			<table>

				<tr><td class="desc"><h3>Other info</h3></td>
				<td></td>
				</tr>

				<tr>
					<td class="desc">Date of birth:</td>
					<td class="birthdate">

          <%= date_select :user, :birthdate, 
                 :start_year  => 1930,
                 :end_year    => 6.years.ago.year,
                 :order       => [:month, :day, :year],
                 :include_blank => true
          %>
          <%= caption(:birthdate, 'Will only be used to show your age, not the date itself.') %>

					</td>
				</tr>


				<tr>
					<td class="desc">Notes:</td>
					<td class="right">
						<%= f.text_field :notes, {:class => "text"} %>
            <%= caption(:notes, 'Up to 100 letters, will be shown in search results page near your name, no links allowed.') %>
					</td>
				</tr>

				<tr>
					<td class="desc">More info:</td>
					<td class="right">
						<%= text_area(:user, :more_info) %>
            <%= caption(:more_info, 'Good place to tell public who you are, post links to your blog, photos or whataver might be of interest to your potential teachmate.') %>
					</td>
				</tr>

        
        <%= 
          unless current_logged_in then
            render(:partial => 'captcha')
          end
        %>

				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Save"/></td>
				</tr>


			</table>

	</div>
