<% @title = "Change password" %>

  <div class="quick-action">
    <h2><%= @title %></h2>

    <% form_for @user, :url => 'change-password', :method => "post", :html => {:multipart => true} do |f| %>

      <%= form_error %>

      <table>

				<tr>
					<td class="desc">Password:</td>
					<td class="right">
            <%= f.password_field(:password, :class => 'text') %>
            <%= caption(:password, "") %>
					</td>
				</tr>

				<tr>
					<td class="desc">Type it again:</td>
					<td class="right">
            <%= f.password_field(:password_confirmation, :class => 'text') %>
            <%= caption(:password_confirmation, "") %>
					</td>
				</tr>

				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Change it!"/></td>
				</tr>
      </table>
    <% end %>
  </div>
