<% @title = "Change password" %>

  <div class="quick-action">
    <h2><%= @title %></h2>

    <p class="message"><%= flash[:error] %></p>
    <%= error_messages_for(:user, :header_message => nil) %>

    <% form_for @user, :url => 'change-password', :method => "post", :html => {:multipart => true} do |f| %>
      <table>

				<tr>
					<td class="desc">Password:</td>
					<td class="right">
            <%= f.password_field(:password, :class => 'text') %>
					</td>
				</tr>

				<tr>
					<td class="desc">Type it again:</td>
					<td class="right">
            <%= f.password_field(:password_confirmation, :class => 'text') %>
					</td>
				</tr>

				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Change it!"/></td>
				</tr>
      </table>
    <% end %>
  </div>
