<% @title = "Login to your account" %>

  <div class="quick-action">
    <h2><%= @title %></h2>

    <% if flash[:error] %>
      <p class="error"><%= @error %>
      <% if flash[:error] == 'Login unsuccessful' %>
        <small>Your id/email and password pair are wrong. You might want to try again
        or use our <a href="/lost-password">password recovery page</a>, if you forgot the password.</small>
      <% elsif flash[:error] == 'Please login to continue' %>
        <small>You need to be logged in to view this page.
        Please log in or <a href="/users/new">create a profile</a>, if you don't have one.
        </small>
      <% else %>
        <%= flash[:error] %>
      <% end %>
      </p>
    <% end %>


    <p class="warning"><small><%= flash[:error_msg] %></small></p>
    
    <% form_for User.new, :url => 'login', :method => "post", :html => {:multipart => true} do |f| %>
      <table>
      	<tr>
					<td class="desc">Your <b>ID</b> or <b>email</b>:</td>
					<td class="right">
            <input class="text" type="text" name="user[login]"/>
					</td>
				</tr>

				<tr>
					<td class="desc">Password:</td>
					<td class="right">
            <input class="text" type="password" name="user[password]"/><br/>
            <small><%= link_to("Forgot password?", '/lost-password') %></small>
					</td>
				</tr>

				<tr>
          <td class="desc"></td>
          <td class="right">
            <input class="checkbox" value="true" type="checkbox" checked="checked" name="remember_me" id="remember_me"/>
            &nbsp;<label for="remember_me">Remember me</label>
					</td>
				</tr>


        <%= render(:partial => 'captcha') %>

        <input type="hidden" name="guess_login" value="login"/>

				<tr><td class="desc"></td>
				<td><input type="submit" class="submit" value="Login"/></td>
				</tr>
      </table>
    <% end %>
  </div>
