<% @title="User Profile" %>

	<div id="profile">

  <div class="profile-action">
    Since this is your profile, you can:
    <ul>
      <li><%= link_to("Edit it", :action => 'edit') %></li>
      <li><%= link_to("Change password", '/change-password') %></li>
      <li><%= link_to("Manage subscriptions", :controller => :subscriptions, :action => :index) %></li>
    </ul>
  </div>

  <% if @user.status == 'disabled' %>
  <div class="quick-message">
    <h2>Unfortunately, this profile is disabled for public view.</h2>
  </div>
  <% else %>
		
		<table>
			<tr>
				<td class="left"><%= show_avatar(@user) %></td>
				<td class="right">
					<h1><span class="black"><%=h full_name(@user) %></span> profile</h1>
					<%= age(@user) %>
					<%= location(@user) %>
          <p><a href="#">Bookmark this user</a> or <a href="#">send a message</a></p>
				</td>
			</tr>
		</table>
		
		<div class="tags-wrapper">

			<table>
				<tr>
					<td class="left"><span class="match-teach">Can teach:</span></td>
					<td class="right">
						<%= taglist(@user.teach_tags) %>
					</td>
				</tr>
			</table>

			<table>
				<tr>
					<td class="left">Wants to learn:</td>
					<td class="right">
            <%=h taglist(@user.learn_tags) %>
					</td>
				</tr>
			</table>

		</div>

		<table>

      <%= profile_field(:title => 'Notes', :value => @user.notes, :allow_tags => []) %>
      <%= profile_field(:title => 'More info', :value => @user.more_info, :allow_tags => %w(a)) %>

		</table>

		<hr/>

    <a name="comments"></a>
		<div id="comments-box">
			

      
      <% did_comment = false 
      unless @comments.empty?
      %>

        <% unless params[:show_comments] %>
          <h2><a href="?show_comments=true#comments">Show all comments</a></h2>
        <% end %>

        <div id="comments" style="display: <%= (params[:show_comments] || 'none') %>;">
          <h2>Comments about <%= full_name(@user) %></h2>
          <% @comments.each do |comment| %>
      
              
          <% if comment[:author].id == current_logged_in
              my_comment = 'id="my_comment"'
              signature = 'This is your comment, you can <a href="/">edit it</a>.'
              did_comment = true
            else
              comment_class = ''
              signature = "wrote #{link_to(full_name(comment[:author]), comment[:author])} at #{comment[:element].updated_at}"
            end
          %>


          <div class="comment" <%= my_comment %>>
            <div id="comment_<%= comment[:element].id %>">
              <p><%= comment[:element].body %></p>
              <p class="info"><%= signature %></p>
            </div>
            <% unless my_comment %>
            <div id="edit_comment" class="edit-comment" style="display: none">
              <% form_for comment[:element], :method => "post", :html => {:multipart => true} do |f| %>
                <%= f.text_area :body, :value => comment[:element].body %>
                <%= f.hidden_field :id, :value => comment[:element].id %>
                <input type="submit" class="submit" value="Save Changes"/>
              <% end %>
            </div>
            <% end %>
          </div>

        </div>



        <% end
      else @comments.empty?
        %> <h2>Nobody left comments here yet</h2> <%
      end
      %>


      <% if !did_comment and current_logged_in %>
        <p class="warning"><%= flash[:err_message] %></p>
        <a name="comment_form"></a>
        <% form_for @new_comment, :method => "post", :html => {:multipart => true} do |f| %>
        <div id="comment-form">
          <h3>Leave your own comment:</h3>
          <%= f.text_area :body %>
          <%= f.hidden_field :user_id, :value => params[:id] %>
          <input type="submit" class="submit" value="Post comment"/>
        </div>
        <% end %>
      <% end %>

		</div>

  <%
    # ends if, which is responsible for displaying disabled account warning
    end   
  %>

	</div>

