<% @title="#{h(full_name(@user))} profile" %>

	<div id="profile">

  
  <div class="profile-action">

    <% skip_blank(flash[:message]) { |value| %> <p class="green"><%= value %></p> <% } %>

    <% if my_profile? %>
    Since this is your profile, you can:
    <ul>
      <li><%= link_to("Edit it", :action => 'edit') %></li>
      <li><%= link_to("Change password", '/change-password') %></li>
      <li><%= link_to("Manage subscriptions", :controller => :subscriptions, :action => :index) %></li>
    </ul>

    <% end %>

  </div>
  


  <% if @user.status == 'disabled' %>
  <div class="quick-message">
    <h2>Unfortunately, this profile is disabled for public view.</h2>
    <p><small>If you are the owner of this profile, you might want to edit it and fill in "I can teach" and "I want to learn" fields in order to enable the profile.</small></p>
  </div>
  <% else %>
		
		<table>
			<tr>
				<td class="left"><%= show_avatar(@user) %></td>
				<td class="right">
					<h1><span class="black"><%=h full_name(@user) %></span> profile</h1>
					<%= age(@user) %>
					<% skip_blank(location_string([@user.city, @user.region, @user.country])) do |value| %>
            <span class="gray1">from </span><%=h value %>
          <% end %>
          
          <% unless my_profile? %>
            <% if current_logged_in %>
          <p>
          <%= link_to(
            "send this user a message",
            send_message_path(:message => {:recipient => @user.id}), :id => 'userMessageLink'
          ) %>
          </p>
            <% end %>
          <% end %>

				</td>
			</tr>
		</table>

    		
		<div class="tags-wrapper">

      <% skip_blank(taglist(@teach_tags, :teach)) do |teach_tags| %>
			<table>
				<tr>
					<td class="left"><span class="match-teach">Can teach:</span></td>
					<td class="right">
						<%= teach_tags %>
					</td>
				</tr>
			</table>
      <% end %>
      
      <% skip_blank(taglist(@learn_tags, :learn)) do |learn_tags| %>
			<table>
				<tr>
					<td class="left">Wants to learn:</td>
					<td class="right">
            <%= learn_tags %>
					</td>
				</tr>
			</table>
      <% end %>

		</div>

		<table>

      <%= profile_field(:title => 'Notes', :value => @user.notes, :allow_tags => []) %>
      <%= wrap_urls profile_field(:title => 'More info', :value => @user.more_info, :allow_tags => [], :br => true) %>

		</table>

		<hr/>

    <a name="comments"></a>
		<div id="comments-box">
			

      
      <% did_comment = false 
      unless @comments.empty?
      %>

        <% unless params[:show_comments] %>
          <h2><a href="?show_comments=true#comments">Show all comments</a></h2>
        <% end %>

        <div id="comments" style="display: <%= (params[:show_comments] || 'none') %>;">
          <h2>Comments about <%=h full_name(@user) %></h2>
          <% @comments.each do |comment| %>
      
              
          <% if comment[:author].id == current_logged_in
              my_comment = 'id="my_comment"'
              signature = 'This is your comment, you can <a href="/">edit it</a>.'
              did_comment = true
            else
              comment_class = ''
              comment_time = comment[:element].updated_at.strftime('%b %d %Y, %H:%M')
              signature = "wrote #{link_to(full_name(comment[:author]), comment[:author])} on #{comment_time}"
            end
          %>


          <div class="comment" <%= my_comment %>>
            <div id="comment_<%= comment[:element].id %>">
              <p><%=h comment[:element].body %></p>
              <p class="info"><%= signature %></p>
            </div>
            <% if my_comment %>
            <div id="edit_comment" class="edit-comment" style="display: none">
              <% form_for comment[:element], :method => "post", :html => {:multipart => true} do |f| %>
                <%= f.text_area :body, :value => comment[:element].body %>
                <%= f.hidden_field :id, :value => comment[:element].id %>
                <input type="submit" class="submit" value="Save Changes"/>
              <% end %>
            </div>
            <% end %>
          </div>

        </div>



        <% end
      else @comments.empty?
        %> <h2>Nobody left comments here yet</h2> <%
      end
      %>


      <% if !did_comment and current_logged_in and !my_profile? %>
        <p class="warning"><%= flash[:err_message] %></p>
        <a name="comment_form"></a>
        <% form_for @new_comment, :method => "post", :html => {:multipart => true} do |f| %>
        <div id="comment-form">
          <h3>Leave your own comment:</h3>
          <%= f.text_area :body %>
          <%= f.hidden_field :user_id, :value => params[:id] %>
          <input type="submit" class="submit" value="Post comment"/>
        </div>
        <% end %>
      <% end %>

		</div>

  <%
    # ends if, which is responsible for displaying disabled account warning
    end   
  %>

	</div>

<div class="userMessageForm">
  <div class="hint" id="userMessageForm">
    <div class="top">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"></div>
    </div>

    <div class="middle">
      
      <div class="left"></div>
      <div class="center">
      <%= image_tag('hint_close_button.png', :class => 'close', :alt => '[x]') %>
      <% form_tag '/send-message', :method => "post", :html => {:multipart => true} do -%>
        <textarea style="width: 90%; height: 160px;" name="message[body]"></textarea>
        <span class="gray1">Message will be sent to user's email with your email in "from" field</span>
        <input type="hidden" name="message[recipient]" value="<%= @user.id %>">
        <p><input type="submit" value="Send message"/></p>
      <% end -%>
      </div>
      <div class="right"></div>
    </div>

    <div class="bottom">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"></div>
    </div>
  </div>
</div>
