	<div id="bigsearch">
		<form action="search" method="get">
			
			<p>
				I want to learn
				<input class="text" type="text" name="learn"/>
				<small class="smaller">
					<span class="gray2">Example:</span> 
					<span class="gray1">bass guitar, mathematics, cooking</span><br/>
				</small>
			</p>

			<p>
				<span class="green">I can teach</span>
				<input class="text" type="text" name="teach"/>
				<small class="smaller">
					<span class="gray2">Just the same as above - one or more words, separated by commas.</span>
				</small>
			</p>

      <p class="locationCaption">Search in: <span>
      <%= location_string || "set location" %>
      </span></p> 

      <div id="locationParams">
        <div class="element">
          <div>City</div>
          <div><input type="text" class="text" name="city" value="<%=h get_value_of(@user, :city) %>"/></div>
          <div class="gray1">In your native language</div>
        </div>
        <div class="element">
          <div>Region or State</div>
          <div><input type="text" class="text" name="region" value="<%=h get_value_of(@user, :region) %>"/></div>
        </div>
        <div class="element">
          <div>Country</div>
          <div><input type="text" class="text" name="country" value="<%=h get_value_of(@user, :country) %>"/></div>
          <div class="gray1">In English</div>
        </div>
      </div>

			<p style="text-align: center">
				<input class="submit" type="submit" value="Find a teachmate"/> 
			</p>
	
		</form>
  </div>

<!-- Hints -->
<div class="height100">
  <div class="hint" id="mainpageLearnFieldHint">
    <div class="top">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"><%= image_tag('hint_close_button.png', :alt => '[x]') %></div>
    </div>

    <div class="middle">
      <div class="left"></div>
      <div class="center">
        We recommend<br/><strong>only input one tag in this field</strong><br/>
        (<i>'cooking apple pie'</i> is okay,<br/><i>'cooking, mathematics'</i> is worse), since it will try to find only people that have both tags.
      </div>
      <div class="right"></div>
    </div>

    <div class="bottom">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"></div>
    </div>
    <%= image_tag('hint_arrow.png', :class => 'arrow') %>
  </div>
</div>
