<% @title = "Subscriptions" %>

<div class="quick-action">
  <h2><%= @title %></h2>

  <p class="warning"><small><%= flash[:message] %></small></p>

  <table class="subscription">
    <% @subscriptions.each do |s| %>
    <tr>
      <td>
        <% skip_blank(s[:learn_string]) {|value| %>Learn: <strong><%=h value %></strong><br/><% } %>
        <% skip_blank(s[:teach_string]) {|value| %>Teach: <strong><%=h value %></strong><br/><% } %>
        <% skip_blank(location_string(s[:location])) {|value| %>Location: <strong><%=h value %></strong><% } %>
      </td>
      <td>
        <%= link_to "Delete", subscription_url(s[:element]), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
