<% @title = "Subscriptions" %>

<div class="quick-action">
  <h2><%= @title %></h2>

  <% skip_blank(flash[:message]) do |message| %>
    <p class="warning"><small><%= message %></small></p>
  <% end %>

  <% skip_blank(flash[:error]) do |error| %>
    <p class="warning"><small><%= error %></small></p>
  <% end %>

  <% if @subscriptions.blank? %>
    <p class="center">You don't have any subscriptions yet</p>
  <% end %>

  <table class="subscription">
    <% @subscriptions.each do |s| %>
    <tr>
      <td>
        <% skip_blank(s[:learn_string]) {|value| %>Learn: <strong><%=h value %></strong><br/><% } %>
        <% skip_blank(s[:teach_string]) {|value| %>Teach: <strong><%=h value %></strong><br/><% } %>
        <% skip_blank(location_string(s[:location])) {|value| %>Location: <strong><%=h value %></strong><% } %>
      </td>
      <td>
        <%= link_to "Delete", subscription_url(s[:element]), :confirm => "Are you sure?", :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
