<% @title = "Subscribe for search results" %>

  <div class="quick-action">

  <% skip_blank(@user.errors) do %>
    <p class="warning">Sorry, we couldn't subscribe you to this search request, due to some errors.</p>
  <% end if @user %>
  <% skip_blank(flash[:error]) do |value| %>
    <p class="warning"><%= value %></p>
  <% end %>

  <p><small>You're about to subscribe for the updates to the following search query:</small></p>
  <p>

    <% skip_blank(@learn) do |value| %>
      <span class="gray1">I want to learn:</span> <%=h value %><br/>
    <% end %>

    <% skip_blank(@teach) do |value| %>
      <span class="gray1">I can teach:</span> <%=h value %><br/>
    <% end %>

    <% skip_blank(location_string(@search_query.city, @search_query.region, @search_query.country)) do |value| %>
      <span class="gray1">In:</span> <%=h value %><br/>
    <% end %>
  </p>

    <% form_for @subscription, :method => "post", :html => {:multipart => true} do |f| %>
      <table>
        <tr>
          <td class="desc">Your e-mail:</td>
          <td class="right">
            <%= text_field(:user, :email, :class => 'text') %>
            <%= caption(:email, "Won't be exposed to anyone") %>

            <%= hidden_field(:search_query, :learn,   :value => sanitize(@learn))%>
            <%= hidden_field(:search_query, :teach,   :value => sanitize(@teach))%>
            <%= hidden_field(:search_query, :city,    :value => sanitize(@search_query.city))%>
            <%= hidden_field(:search_query, :region,  :value => sanitize(@search_query.region))%>
            <%= hidden_field(:search_query, :country, :value => sanitize(@search_query.country))%>
          </td>
        </tr>

        <%= render(:partial => 'users/captcha') %>
        
        <tr><td class="desc"></td>
        <td><input type="submit" class="submit" value="Subscribe"/></td>
        </tr>

      </table>
    <% end %>
  </div>
