<% @title = "Subscribe for search results" %>

  <div class="quick-action">

  <p class="warning"><%= flash[:error] %></p>
  <p class="warning"><%= error_messages_for(:search_query) %></p>

  <p><small>You're about to subscribe for the updates to the following search query:</small></p>
  <p>

    <% skip_blank(@learn) do |value| %>
      <span class="gray1">I want to learn:</span> <%=h value %><br/>
    <% end %>

    <% skip_blank(@teach) do |value| %>
      <span class="gray1">I can teach:</span> <%=h value %><br/>
    <% end %>

    <% skip_blank(location_string(@city, @region, @country)) do |value| %>
      <span class="gray1">In:</span> <%=h value %><br/>
    <% end %>
  </p>

    <% form_for @subscription, :method => "post", :html => {:multipart => true} do |f| %>
      <table>
        <tr>
          <td class="desc">Your e-mail:</td>
          <td class="right">
            <input type="text" name="user[email]" class="text" />
            <small>Won't be exposed to anyone</small>

            <%= hidden_field(:search_query, :learn,   :value => sanitize(@learn))%>
            <%= hidden_field(:search_query, :teach,   :value => sanitize(@teach))%>
            <%= hidden_field(:search_query, :city,    :value => sanitize(@city))%>
            <%= hidden_field(:search_query, :region,  :value => sanitize(@region))%>
            <%= hidden_field(:search_query, :country, :value => sanitize(@country))%>
          </td>
        </tr>

        <%= render(:partial => 'users/captcha') %>
        
        <tr><td class="desc"></td>
        <td><input type="submit" class="submit" value="Subscribe"/></td>
        </tr>

      </table>
    <% end %>
  </div>
