<!--
  Author: Roman Snitko (http://snitko.ru),
  special thanks to Oleg Andreev.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery', 'jquery.dimensions', 'jquery.cookie', 'application' %>
	<!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->

	<% if @title %>
  <title><%= @title %> &mdash; TeachMate.org</title>
  <% else %>
  <title> TeachMate.org - find people you can teach and learn from!</title>
  <% end %>

</head>

<body>

	<div id="header">
    <%= link_to(
                image_tag('teachmate_logo.gif', :alt => "teachmate.org"),
                '/'
               )
    %>
		
		<div class="menu">
      <%= if (@controller.current_logged_in && params[:controller] == 'users' && params[:action] == 'show' && params[:id].to_i == @controller.current_logged_in)
            link_to('Logout', '/logout')
          else
            auth_link
          end
      %>
      &nbsp;
			<img src="/images/text_separator.gif" class="text-separator" alt="|"/>&nbsp;&nbsp;
		  <%= link_to("About", about_url) %>
		</div>

	</div>


	<%= @content_for_layout %>


  <% unless current_logged_in %>
  <div id="loginbox-bgrnd"></div>
  <div id="loginbox">

    <% form_for User.new, :url => 'login', :method => "post", :html => {:multipart => true} do |f| %>
      <table>
        <tr>
          <td class="desc">Your <b>ID</b> or <b>email</b>:</td>
          <td class="right">
            <input class="text" type="text" name="user[login]"/>
          </td>
        </tr>

        <tr>
          <td class="desc">Password:</td>
          <td class="right">
            <input class="text" type="password" name="user[password]"/><br/>
            <small><%= link_to("Forgot password?", '/lost-password') %></small>
          </td>
        </tr>

        <tr>
          <td class="desc">&nbsp;</td>
          <td class="right" style="text-align: left;">
            <input class="checkbox" value="true" type="checkbox" checked="checked" name="remember_me" id="remember_me"/> <label for="remember_me">Remember me</label>
          </td>
        </tr>

        <tr>
          <td><label for="captcha">Type the characters you see on the right:<br/></label><input id="captcha" name="captcha" type="text" />
          </td>
          <td>
            <%= captcha_image %>
            <%= captcha_hidden_text %>
          </td>
        </tr>

      <tr><td colspan="2" style="text-align: center; padding-top: 7px;">
        <input type="hidden" name="guess_login" value="login"/>
        <input type="submit" class="submit" value="Login"/>
      </td></tr>

      </table>
    <% end %>

  </div>
  <% end %>

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-216707-3");
  pageTracker._trackPageview();
  </script>

</body>
</html>
